﻿.contactStyle{
    padding-top:30px;
}
.formStyle{
    padding-top:10px;
}
.contactDesc{
    width:400px;
    height:250px;
}
.contactSubmit{

}
.inputSpacing{
    margin-bottom:20px;
    width:400px;
}