.first{
    background-color:#ffffdd;
}
.second{
    background-color:#e2fde4;
}
.third{
    background-color:#daf5fc;
}
.fourth{
    background-color:#d3d6fc;
}
.fifth{
    background-color:#fcdbff;
}
.myrow{
    margin:50px 0px 50px 0px;
}
.container-padding{
    padding-bottom:50px;
}
.btn-size{
    width:8em;
    height:4em;
}
.container-height{
    height:22em
}