.first{
    background-color:antiquewhite;
}
.second{
    background-color:darkgray;
}
.third{
    background-color:lightblue;
}
.fourth{
    background-color:mistyrose;
}
.fifth{
    background-color:powderblue;
}