﻿.second {
    background-color: #e2fde4;
}

.third {
    background-color: #daf5fc;
}

.fourth {
    background-color: #d3d6fc;
}

.fifth {
    background-color: #fcdbff;
}
.container-height {
    height: 35em;
}

.img-size {
    width: 200px;
    height: 200px;
}

.text-padding {
    padding-left: 20px;
    max-width: 1000px
}
.animFromTop {
    position: relative;
    top: -30px;
    animation-name: example;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}
@keyframes example {
    0% {
        left: 0px;
        top: -30px;
    }

    100% {
        left: 0px;
        top: 0px;
    }
}