﻿.myrow{
    margin:50px 0px 50px 0px;
}
.container-padding{
    padding-bottom:50px;
}
.btn-size {
    width: 8em;
    height: 4em;
    border-width: 6px;
    border-color: #6fbbff;
}
.main-font{
    font-family:Arial;
    font-weight: bold;
    padding-bottom: 2em;
}
.first {
    background-image: url('./../../Resources/MainBoard2.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 46em;
    padding-top: 10em;
}
